$index_dialog: 1000 !default;
$color_head: white !default;
$color_head_text: black !default;

$index_dialog_header: 20;
$index_dialog_main: 10;
$index_dialog_footer: 20;

.dialog-cover {
  display: flex;
  z-index: $index_dialog;
  position: absolute;
  top: 0;
  left: 0;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  &.dilog-hidaden {
    display: none;
  }

  &>.dialog {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
    overflow: auto;
    border-radius: 0.2em;
    background-color: white;
    box-shadow: 6px 6px 16px 2px rgba(0, 0, 0, 0.4);

    &>header,
    &>main,
    &>footer {
      box-sizing: border-box;
      min-width: 20rem;
    }

    &>header {
      z-index: $index_dialog_header;
      flex-grow: 0;
      flex-shrink: 0;
      height: 2rem;
      padding: 0 0.2rem;
      background-color: $color_head;
      box-shadow: 0 1px 8px 2px rgba(0, 0, 0, 0.4);
      color: $color_head_text;
      line-height: 2rem;
    }

    &>main {
      z-index: $index_dialog_main;
      flex-grow: 1;
      flex-shrink: 1;
      max-height: calc(90vh - 2rem - 3rem);
      overflow: auto;
    }

    &>footer {
      z-index: $index_dialog_footer;
      flex-grow: 0;
      flex-shrink: 0;
      height: 3rem;
      padding: 0 1rem;
      box-shadow: 0 -1px 8px 2px rgba(0, 0, 0, 0.4);
      line-height: 3rem;
      text-align: right;

      &>button {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}
