textarea {
  background: none;
  background-color: white;
  border: solid 0.1em darkgray;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

textarea:focus {
  outline: orange auto 1px;
  outline-offset: -2px;
}
