button {
  padding: 0;
  overflow: hidden;
  border: none;
  border-radius: 0.4em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: orange auto 1px;
  outline-offset: 0;
}
