input {
  border: solid 2px darkgray;
  background: none;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input:focus {
  outline: orange auto 1px;
  outline-offset: 0;
}

label,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0 0.2em 0 0;
  padding: 0;

  &:disabled {
    border: solid 2px gray;
    background-color: darkgray;
  }

  &:checked {
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
    }
  }
}

input[type="checkbox"] {
  border-radius: 0.2em;

  &:checked {
    &::after {
      top: calc(50% - 0.1em);
      left: calc(50% - 0.55em);
      width: 0.8em;
      height: 0.4em;
      transform: rotate(-50deg);
      transform-origin: 0 0 0;
      border-width: 0.35em;
      border-bottom-style: solid;
      border-left-style: solid;
      border-radius: 0.1em;

      .enable-animation & {
        animation-duration: 0.1s;
        animation-timing-function: ease-in;
        animation-name: checkbox;
      }
    }
  }

  @keyframes checkbox {
    0% {
      width: 0;
      height: 0;
      border-bottom-style: none;
    }

    50% {
      width: 0;
      height: 0.4em;
      border-bottom-style: solid;
    }

    100% {
      width: 0.8em;
      border-bottom-style: solid;
    }
  }
}

input[type="radio"] {
  border-radius: 50%;

  &:checked {
    &::after {
      top: calc(50% - 0.325em);
      left: calc(50% - 0.325em);
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;

      .enable-animation & {
        animation-duration: 0.1s;
        animation-timing-function: ease-in;
        animation-name: radio;
      }
    }
  }

  @keyframes radio {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }
}

input[type="number"] {
  text-align: right;
}

input[type="range"] {
  appearance: auto;
  cursor: pointer;
}
